.parent {
  width: 50%;
  border: 5px solid #E18728;
  float: left;
}

.child {
  width: 90%;
  border: 4px solid black;
  /*
  padding: 20%;
  border: 4px solid black;
  margin: .5em auto;
  */
}

.twins {
  width: 50%;
  padding: 1em;
  border: 4px solid black;
  float: left;
}